img {
    width: 200px;
}

.super-mario {
    position: absolute;
}
.goomba{
    margin-top: 275px;
   
}
.word {
   position: absolute;
   bottom: 225px;
   left: 225px;
}
.baloon {
    margin-bottom: 150px;
}