:root {
    --cor-1: #264653;
    --cor-2: #2a9d8f;
    --cor-3: #e9c46a;
    --cor-4: #f4a261;
    --cor-5: #e76f51;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    background-color: var(--cor-1);
    height: 150px;
    color: white;
    padding: 20px;
    text-align: center;
}
.barra-de-navegação {
    background-color: var(--cor-2);
    text-align: center;
    height: 50px;
    padding: 15px;
}
.barra-de-navegação a {
    text-decoration: none;
    color: white;
    margin: 50px;
}
